:root {
  --font-oxanium: "Oxanium", sans-serif;
  --font-jetbrains: "JetBrains Mono", monospace;
}

body {
  font-family: var(--font-jetbrains), monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
